.hero {
  position: relative;
  width: 100%;
  height: fit-content;
  border-radius: var(--br-11xl);
  background-image: url('../../../../../public/cleanshot-20230705-at-0100-1@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.heroText {
  display: grid;
  place-items: center;
  padding-top: 3rem;
  font-size: var(--font-size-41xl);
  font-weight: 800;
  text-align: center;
}

.heroText > p {
  margin: 0;
}

.docBoxWrapper {
  height: fit-content;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
}

.boxWrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.arrowIcon {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 26.705%);
  height: 31.76%;
  width: 53.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 1;
  z-index: 0;
}

.arrowIcon.animate {
  animation: 2s ease 0s 1 normal forwards bounce-top;
}

.scrollArrow {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--gray-white);
  width: 88px;
  height: auto;
}

@media screen and (width < 600px) {
  .heroText {
    font-size: var(--font-size-31xl);
  }

  .docBoxWrapper {
    padding: 3rem 1rem;
  }
}


@media screen and (600px <= width < 960px) {
  .docBoxWrapper {
    padding: 4rem 3rem;
  }
}

@media screen and (960px <= width < 1280px ) {
  .docBoxWrapper {
    padding: 4rem 3rem;
  }
}

@media screen and (1280px <= width < 2000px ) {
  .docBoxWrapper {
    padding: 4rem;
  }
}

@media screen and (1280px <= width < 2000px) and ( height >= 1080px) {
  .docBoxWrapper {
    padding: 4rem 6rem 6rem 6rem;
  }
}

@media screen and (width >= 2000px ) {
  .heroText {
    font-size: 116px;
    padding-top: 6rem;
  }

  .docBoxWrapper {
    padding: 13rem 10rem 13rem 10rem;
  }
}